.App {
  text-align: center;
  background-color: #E8F3F8;
}

/*--Selectors--*/
html,
body {
  height: 100%;
  width: 100%;
  background-color: #E8F3F8;
}

a {
  text-decoration: none;

}
a:visited {
  color: #C2CBCE;
}
a:hover {
  color: #C2CBCE;
}
a {
  color: #C2CBCE;
}




/* --Class--*/
/* Main-Header */
.main-header {
  background: #227989;
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-header h1 {
  font-family: 'Lobster', cursive;
  margin-top: 0;
  margin-bottom: 0;
  color: #E8F3F8;
  font-size: 150px;
  text-align: right;
  width: 480px;
  height: 200px;
}

/* Nav */
.main-nav {
  width: auto;
  height: 100px;
  padding-top: 140px;
}
.main-nav a {
  font-size: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Source Code Pro', monospace;
}

.artist-list-container{
  display: flex;
  padding: 30px;
}

.artists-list {
  font-family: 'Source Code Pro', monospace;
  color: #E8F3F8;
  width: 30%;
  border-radius: 10px;
  background: #A4BCC2;
  margin: 10px;
}

.artist-list-img{
  border-radius: 10px;
}

.bands-list {
  background: papayawhip;
}






/*--ID--*/
/* Logout Button */
#logout-button {
  font-size: 20px;
  margin-left: 25px;
}

/* View Profile */
#view-profile {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #227989;
}



/*--Media Queries--*/
