.App {
  text-align: center;
}

/*--Selectors--*/
html,
body {
  height: 100%;
  width: 100%;
}




/* --Class--*/
/* Nav */
.main-nav a {
  padding-left: 20px;
}

/* Header */
.main-header h1 {
  margin-top: 0;
}



/* BodyBackground */
.main-header {
  background: red;
}

.main-nav {
  background: green;
}

.artists-list {
  background: lightgrey;
}

.bands-list {
  background: papayawhip;
}






/*--ID--*/

/*--Media Queries--*/
